.forest-theme {
  background-color: #0b3d0b;
  background-image: linear-gradient(to bottom, #0b3d0b, #1a472a);
  color: #e0f0dc;
}

.card-button {
  background-color: #264d26;
}

.card-button.active {
  background-color: #66bb6a;
}

input, textarea {
  background-color: #183c1e;
  color: #f0fff4;
  border: 1px solid #4caf50;
}

.btn.green {
  background-color: #2e7d32;
}

.btn.red {
  background-color: #c62828;
}

.logout-button {
  margin-bottom: 1rem;
  background-color: #4caf50;
  color: white;
  padding: 0.4rem 0.8rem;
  border-radius: 5px;
  font-weight: bold;
  border: none;
  cursor: pointer;
}
